body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .gray-box {
    background-color: rgb(204, 203, 203);
    border-radius: 10px;
    padding: 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  .left-nav h1 {
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 28px;
  }
  
  .right-nav {
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    margin-right: 10px;
  }
  
  button {
    background-color: rgb(22, 148, 50);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #login-btn {
    background-color: #58b8f0;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
  }
  
  .white-box {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .part-of-speech {
    color: #aaa9a9d2;
    margin-top: 10px;
  }
  
  .definition {
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  .like-btn {
    background-color: #ffe066;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
  }
  .caja1{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
  }
  .white-box1 {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
  }